.main-map{
  height: 100vh;
  width: 100%;
  border: 1px solid red;
 
}
#map{
  z-index: 1;
}
#info{
  max-width: 100px;
  max-height: 50px;
  padding: 8px;
  margin: 5px;
  font-size: 0.6em;
  font-weight: bold;
  background-color: grey;
  color: white;
  z-index: 1000;
  position: absolute;
  border-radius: 10%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  content: " ";

}

#legend{
    margin-top:100px;
    width: 100px;    
    position: absolute;
    background: rgba(184,245,181,0.5);
    
    z-index: 1000;
    right: 5px;
    top: 65px;
    border-radius: 8px;
    padding: 8px;
    color: black;
    text-align: center;
    border: 1px solid #9bd798;
  
}
.legend-span{
  padding: 5px;
  margin: 30px;
}
.legend-header{
  font-weight: bold;
}